<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>Has made <%= @user.ratings.count %> ratings with an average of <%= @user.average_rating %>.</p>

<% @user.ratings.each do |rating| %>
    <ul>
      <li><%= rating.beer.name %> <%= rating.score %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?'} %></li>
</ul>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

